<div class="row">
  <div class="col-md-2 text-center">
    <b>LATEST NEWS: </b>
  </div>
  <div class="col-md-10">
    <marquee
      direction="left"
      scrollamount="10"
      onmouseover="this.scrollAmount = 0"
      onmouseout="this.scrollAmount = 10"
    >
      <a href="https://ubuntu.com/download/desktop" target="_blank"
        >Ubuntu 20.04 LTS</a
      >
      version to be released on 23 April 2020 | Deep Dive article on
      <a href="{{site.baseurl}}/node-backend/">creating API's with NodeJS</a>
      has been published | Deep Dive article on
      <a href="{{site.baseurl}}/learn/deepdives/dot-net-core-rest-api/"
        >.NET Core RESTful API</a
      >
      is currently under progress |
      <a href="{{site.baseurl}}/trigger-optimization-framework/"
        >Trigger Optimization Framework</a
      >
      and its improvements has been tentatively published
    </marquee>
  </div>
</div>
