<div class="alert alert-primary" role="alert">
  <figure>
    <blockquote class="blockquote">
      <p>
        Very few people have the capacity and courage to invest themselves in
        the company that they are working for. Abhishek is an exception. Since
        the day he joined Author Solutions, as a junior software engineer, I
        have considered him to be our asset. His productivity began shortly
        after he joined and delivered high quality of product throughout his
        entire career. In his early age at Author Solutions, he was devoted lots
        of time to Salesforce world and soon he became the best Salesforce
        resource I ever had. Abhishek was tasked to lead a team with finding
        software solutions and implementing workflow processes by assessing
        operational capability, troubleshooting and diagnostics, designing and
        calibrating system specifications, analyzing system processes, and other
        related duties. His overall duty was to streamline Salesforce processes
        and allow for efficient information flow and retrieval, and he did an
        excellent job in managing and improving our Salesforce organization
        consistently. He was promoted shortly after this achievement and has
        progressed nowhere but up from then on. As a Development Lead, Abhishek
        excels at supervising, guiding and motivating other members of the team.
        He is a natural leader and problem solver, easily identifying and
        proposing solutions to any road bumps that the team hits along the way.
        Abhishek is also great at staying on task. More than once, he’s guided
        the group back to the immediate topic at hand when its focus had begun
        to err off track. Every company would be dreaming to have a resource
        like Abhishek is.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Adam Chang,
      <cite title="Source Title">Vice President of Information Technology</cite>
    </figcaption>
  </figure>
</div>
<div class="alert alert-primary" role="alert">
  <figure>
    <blockquote class="blockquote">
      <p>
        Abhishek is the blend of hard work and a person of deep thought who will
        deliver the impossible when required at the right time. For him
        technology is his power and the technique of delivering it is his
        difference from others.His Go Green attitude and love for nature depicts
        the true love for mother nature and makes him a humanitarian. Well
        mannered and ordered person with clean good habits makes the person more
        adorable like his smile. He is is true "Tech Guru" if you are in need of
        technology.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Dr. Libin Pallikunnel Kurian,
      <cite title="Source Title"
        >Principal Information Technology Consultant</cite
      >
    </figcaption>
  </figure>
</div>
<div class="alert alert-primary" role="alert">
  <figure>
    <blockquote class="blockquote">
      <p>
        Abhishek is a real hard core workaholic, we could see him work for days
        without food, his plans and methodologies add an impact and a finesse to
        everything he does. apart from work you can find this guy listening to
        trance , cracking jokes and helping out others. we all know who to
        approach when in doubt, and certainly its been a pleasure working with
        such a talented person from who we can learn a lot
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Shivanath Devinarayanan,
      <cite title="Source Title">Chief Digital Officer, Asymbl Inc.</cite>
    </figcaption>
  </figure>
</div>
<div class="alert alert-primary" role="alert">
  <figure>
    <blockquote class="blockquote">
      <p>
        Abhishek is a man of technology and is also known for his best managing
        skills. A very enthusiastic and quick learner with so much of positive
        energy.His hardworking and optimistic nature will lift him to great
        heights.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Niran NS,
      <cite title="Source Title">Salesforce Architect</cite>
    </figcaption>
  </figure>
</div>
