<div class="card">
  <div class="card-header">
    <h4>Categories</h4>
  </div>
  <ul class="list-group">
    {% assign categories_list = site.categories %} {% if categories_list.first[0]
    == null %} {% for category in categories_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a
        href="/categories/#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}"
        >{{ category | camelcase }}></a
        <span class="badge badge-primary badge-pill">{{ site.tags[category].size }}</span>
    </li>
    {% endfor %} {% else %} {% for category in categories_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a
        href="/categories/#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"
        >{{ category[0] | camelcase }}</a
        >
        <span class="badge badge-primary badge-pill">{{ category[1].size }}</span
        >
    </li>
    {% endfor %} {% endif %} {% assign categories_list = nil %}
  </ul>
</div>
<br/>
<div class="text-center">
  <!--<a target="_blank" href="https://www.buymeacoffee.com/CMivEc5">
  <button class="btn btn-primary btn-lg">
      <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
    Buy me a coffee
  </button></a>--> 
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Did you like the blog?</h4>
    <p>
      Feel free to drop in your comments on the respective blog and I will try my best to help you guys. It's a great motivator to collaborate and exchange ideas.
    </p>
  </div>
</div>
<br/>
