<span class="badge bg-secondary">Salesforce CRM</span>
<span class="badge bg-secondary">Sales Cloud</span>
<span class="badge bg-secondary">Service Cloud</span>
<span class="badge bg-secondary">Enterprise Architecture</span>
<span class="badge bg-secondary">MERN Stack</span>
<span class="badge bg-secondary">Salesforce Centre of Excellence</span>
<span class="badge bg-secondary">Salesforce Practice Management</span>
<span class="badge bg-secondary">Tableau CRM</span>
<span class="badge bg-secondary">Experience Cloud</span>
<span class="badge bg-secondary">Mulesoft</span>
<span class="badge bg-secondary">Salesforce Platform Shield</span>
<span class="badge bg-secondary">API Security</span>
<span class="badge bg-secondary">Single Sign On</span>
<span class="badge bg-secondary">Design Patterns</span>
<span class="badge bg-secondary">NEXT.JS</span>
<span class="badge bg-secondary">HTML</span>
<span class="badge bg-secondary">CSS</span>
<span class="badge bg-secondary">Javascript</span>
<span class="badge bg-secondary">Azure DevOps</span>
<span class="badge bg-secondary">Github Actions</span>
<span class="badge bg-secondary">Jira</span>
<span class="badge bg-secondary">Confluence</span>
<span class="badge bg-secondary">.NET Core</span>
<span class="badge bg-secondary">DocuSign</span>
