<h4>Trending Blogs</h4>
<div class="row">
  <div class="col-md-4">
    <div class="card border-success mb-3">
      <div class="card-header"><strong>Salesforce</strong></div>
      <div class="card-body text-success">
        <h5 class="card-title">Salesforce CI/CD using Azure DevOps Services</h5>
        <p class="card-text">
          In this blog, I will elaborate on the techniques of easily setting up
          Salesforce DevOps process using Azure DevOps services for free.
        </p>
        <a
          href="{{site.baseurl}}/salesforce-azure-devops/"
          class="btn btn-success"
          >Read Now</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-success mb-3">
      <div class="card-header"><strong>Salesforce</strong></div>
      <div class="card-body text-success">
        <h5 class="card-title">Trigger Optimization Framework in Salesforce</h5>
        <p class="card-text">
          In this blog post, we will do a deep dive into improving existing Apex
          Trigger Framework in Salesforce.
        </p>
        <a
          href="{{site.baseurl}}/trigger-optimization-framework/"
          class="btn btn-success"
          >Access Now</a
        >
      </div>
    </div>
  </div>
</div>
