.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination {
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #dee2e6;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: middle;
  border-color: inherit;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-bottom-width: 2px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table td,
table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border: 1px solid #dee2e6;
}

blockquote {
  font-weight: 600;
  font-size: small;
  color: #555;
  border-left: 5px solid #0096ff;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

blockquote p {
  margin: 0;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

img {
  padding: 5px;
}

.container-app {
  width: 90%;
}

pre {
  padding: 0;
  color: #1f2933;
  background-color: #f3f3f3;
}

code {
  padding: 0.2em 0.4em;
  background-color: #f3f3f3;
  color: #dd1144;
  font-weight: 400;
  border-radius: 0.25rem;
}
